@using ClientEntity
@inject DataService data
@using System.Text.RegularExpressions
@inject NavigationManager uriHelper;

<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Competition edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <Validation Validator="ValidateName">
                    <TextEdit @bind-Text="editCompetition.competition_name" Placeholder="Enter competition..." >
                        <Feedback>
                            <ValidationSuccess>Name is good.</ValidationSuccess>
                            <ValidationError>Enter valid Name (less 10 chars)!</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>Quantity of tasks</FieldLabel>
                <NumericEdit @bind-Value="editCompetition.task_quantity" />
            </Field>
            <Field>
                <FieldLabel>Hash codes</FieldLabel>
                <Validation Validator="ValidateHash">
                    <TextEdit @bind-Text="editCompetition.sm_hash_code" Placeholder="Enter competition..." >
                        <Feedback>
                            <ValidationSuccess>Hash is good.</ValidationSuccess>
                            <ValidationError>Enter valid Hash (start from "#")!</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>Start time</FieldLabel>
                <DateEdit TValue="DateTime" @bind-Date="@editCompetition.competition_start" Placeholder="Start competition..." />
                <TimeEdit TValue="TimeSpan" @bind-Time="@startTime" />
            </Field>
            <Field>
                <FieldLabel>End time</FieldLabel>
                <DateEdit TValue="DateTime" @bind-Date="@editCompetition.competition_end" Placeholder="End competition..." />
                <TimeEdit TValue="TimeSpan" @bind-Time="@endTime" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Alert Color="Color.Danger" @bind-Visible="@visible">
                <AlertDescription>
                    Your end date is earlier than start date.
                </AlertDescription>
                <AlertMessage>
                    Please, change it!
                </AlertMessage>
                <CloseButton />
            </Alert>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@SaveModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>



@code{
    [Parameter]
    public bool modalVisible {get; set; }
    [Parameter]
    public EventCallback<bool> modalVisibleChanged { get; set; }
    [Parameter]
    public MCompetition editCompetition {get; set; }
    [Parameter]
    public EventCallback<MCompetition> editCompetitionChanged { get; set; }
    TimeSpan startTime;
    TimeSpan endTime;
    private bool visible = false;

    

    protected override async Task OnInitializedAsync()
    {
        var sh = editCompetition.competition_start.Hour;
        var sm = editCompetition.competition_start.Minute;
        var eh = editCompetition.competition_end.Hour;
        var em = editCompetition.competition_end.Minute;

        startTime = new TimeSpan(sh,sm,0);
        endTime = new TimeSpan(eh,em,0);

        modalVisible = true;
    }
    

    private async Task SaveModal()
    {
        editCompetition.competition_start = initiateDate(editCompetition.competition_start, startTime.Hours, startTime.Minutes);
        editCompetition.competition_end = initiateDate(editCompetition.competition_end, endTime.Hours, endTime.Minutes);
        if(editCompetition.competition_end.Subtract(editCompetition.competition_start).Minutes <=0){
            visible = true;
        }
        else{
            await data.PutCompetition(editCompetition);
            modalVisible = false;
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }
    }

    private void HideModal()
    {
        modalVisible = false;
    }

    private DateTime initiateDate(DateTime date, int hours = 0, int min = 0){
        return new DateTime(date.Year, date.Month, date.Day, hours, min, 0);
    }

    @*----------------VALIDATIONS----------------*@
    @*----------------Name----------------*@
    void ValidateName( ValidatorEventArgs e )
    {
        var name = Convert.ToString( e.Value );
        e.Status = Regex.IsMatch(name, "^.{1,10}$", RegexOptions.IgnoreCase) ? ValidationStatus.Success : ValidationStatus.Error;
    }

    @*----------------Hash----------------*@
    void ValidateHash( ValidatorEventArgs e )
    {
        var hash = Convert.ToString( e.Value );
        e.Status = Regex.IsMatch(hash, "^#.{1,50}$", RegexOptions.IgnoreCase) ? ValidationStatus.Success : ValidationStatus.Error;
    }
}